{% extends "mdstore/base.html" %}
{% block content %}
{% load humanize %}
<!-- MAIN HEADER BUTTON GROUP -->
<div class="btn-group">
    <a class="btn btn-large btn-primary">{{ bag }}</a>
    <a class="btn btn-large btn-warning" href="{{ request.build_absolute_uri|slice:":-1" }}.urls">URLS</a>
    <a class="btn btn-large btn-danger" href="http://{{ request.META.HTTP_HOST }}/APP/bag/{{ bag }}">ATOM</a>
    <a class="btn btn-large btn-success" href="http://{{ request.META.HTTP_HOST }}/bag/{{ bag }}/links/">Links</a>
</div>
<!-- BAG INFO HEADER -->
<h3 class="main"><i class="icon-white icon-briefcase"></i> Bag Info Details:</h3>
<table class="table table-striped info">
    {% for k, v in bag_info.items %}
    <tr>
            <th style="width: 20%; border-right:5px solid {% cycle '#00B230' '#E8B85A' '#4C23E8' '#885499' '#FF2F35' '#58807D' %}">{{ k }}:</th>
            <td>
                {% if k == 'Contact-Email' %}
                    <i class="icon-envelope"></i> <a href="mailto:{{ v }}">{{ v }}</a>
                {% elif k == 'External-Identifier' %}
                    <i class="icon-globe"></i> <a href="http://texashistory.unt.edu/{{ v }}">{{ v }}</a>
                {% elif k == 'Payload-Oxum' %}
                    <i class="icon-hdd"></i> {{ payload_oxum_size }} bytes, <i class="icon-file-alt"></i> {{ payload_oxum_file_count }} files
                {% elif k == 'Bagging-Date' %}
                    <i class="icon-calendar"></i> {{ bag_date|timesince }} ago
                {% elif k == 'Organization-Address' %}
                    <i class="icon-building"></i> {{ v }}
                {% elif k == 'Contact-Phone' %}
                    <i class="icon-phone"></i> {{ v }}
                {% elif k == 'BagIt-Version' %}
                    <i class="icon-info-sign"></i> {{ v }}
                {% elif k == 'Bag-Size' %}
                    <i class="icon-hdd"></i> {{ v }}
                {% elif k == 'Contact-Name' %}
                    <i class="icon-user"></i> {{ v }}
                {% elif k == 'Internal-Sender-Identifier' %}
                    <i class="icon-tag"></i> {{ v }}
                {% elif k == 'Source-Organization' %}
                    <i class="icon-home"></i> {{ v }}
                {% else %}
                    <i class="icon-leaf"></i> {{ v }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
<!-- EVENTS HEADER -->
{% if linked_events|length > 0 %}

<h3><i class="icon-link icon-large"></i>There are <a href="http://{{ request.META.HTTP_HOST }}/event/search/?linked_object_id={{ bag }}">{{ total_events }} premis events</a> associated with {{ bag }}:</h3>


<table class="table table-striped">
  <thead>
    <tr>
        <th>Event ID</th>
        <th>Event Date</th>
        <th>Event Status</th>
        <th>Linked Object(s)</th>
        <th>Classified Type</th>
	</tr>
  </thead>
  <tbody>

{% for event in linked_events %}

    <tr>

        <td><i class="icon-tag"></i><a href="http://{{ request.META.HTTP_HOST }}/event/{{ event.identifier }}"> {{ event.identifier }}</a></td>


        <td>{{ event.date }}</td>


        <td>{% if event.outcome|slice:"53:" == 'success' %} <a href="http://{{ request.META.HTTP_HOST }}/event/search/?outcome={{ event.outcome|urlencode }}"><span class="label label-success">Success</span></a>{% else %} <a href="http://{{ request.META.HTTP_HOST }}/event/search/?outcome={{ event.outcome|urlencode }}"><span class="label label-important">Failure</span></a>{% endif %}
        </td>

        <td><i class="icon-link"></i> {{ event.linked_objects }}</td>

        <td><i class="icon-asterisk"></i> <a href="http://{{ request.META.HTTP_HOST }}/event/search/?type={{ event.event_type|urlencode }}"> {{ event.event_type }}</a></td>

    </tr>


{% endfor %}
	</tbody>
</table>


{% else %}
    <h3><i class="icon-remove icon-large"></i> There are no <em>premis events</em> associated with {{ bag }}.</h3>
{% endif %}
{% endblock %}
