BeautifulSoup==3.2.1
django==1.8.7
httplib2==0.7.7
lxml==2.2.3
MySQL-python==1.2.3rc1
python-dateutil==1.4.1
requests==2.7.0
pyoai==2.4.4
pytest-django==2.9.1
mock
factory_boy
codalib==1.0.0
sqlparse==0.1.18
django-debug-toolbar==1.4

git+https://github.com/unt-libraries/django-premis-event-service@1.1.0
git+https://github.com/unt-libraries/pypairtree
