BeautifulSoup4==4.8.1
django~=1.11.28
httplib2==0.13.0
lxml==4.2.6
mysqlclient ==1.3.14
python-dateutil==2.8.0
requests==2.20.0
pyoai==2.5.0
pytest==3.10.1
pytest-django==2.9.1
flake8
pytest-flake8
factory_boy
sqlparse==0.3.0
django-debug-toolbar==1.11

git+https://github.com/unt-libraries/codalib@master
git+https://github.com/unt-libraries/django-premis-event-service@master
git+https://github.com/unt-libraries/pypairtree
