{
  "SECRET_KEY": "",
  "MAINTENANCE_MSG": null,
  "DB_NAME": "",
  "DB_USER": "",
  "DB_HOST": "",
  "DB_PORT": "",
  "DB_PASSWORD": "",
  "ALLOWED_HOSTS": [],
  "SITE_ID": 1,
  "ADMINS": [],
  "STATIC_ROOT": "",
  "STATIC_URL": "",
  "DEBUG": "",
  "TEST_SITE": "",
  "UPLOAD_MAX": "",
  "SECURE_PROXY_SSL_HEADER": null
}
